<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posted Jobs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Total Jobs Posted</h1>
    </header>
    <main>
        {% if posted %}
            {% for i in posted %}
            <div>
                <h1>Title : {{i[2]}}</h1>
                <p>Location : {{i[4]}}</p>
                <p>Salary : {{i[5]}}</p>
            </div>
            <hr>
            {% endfor %}
        {% else %}
            <p> No Jobs Posted</p>
        {% endif %}
        <a href="/dashboard">
            <button type="submit">Back</button>
        </a>
    </main>
</body>
</html>