<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
    {% endwith %}
    <header>
    <h1>Hello Recruiter</h1>
    </header>
    <main>
        <form action="/recruiter" method="POST">
            <button name="create">Create Job</button>
        </form>
        <br>
        <form action="/viewjobs" method="GET">
            <button name="view">View Created Jobs</button>
        </form>
        <br>
        <form action="/viewapplicants" method="GET">
            <button name="view">View applicants</button>
        </form>
        <br>
        <form action="/logout" method="POST">
            <button type="submit" name="logout">Logout</button>
        </form>
    </main>
</body>
</html>