<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Applicants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    <header>
        <h1>All Applicants</h1>
    </header>
    <main>
        {% if application %}
            {% for app in application %}
                <div>
                    <h2>Position : {{app[0]}}</h2>
                    <p>Candidate Name : {{app[1]}}</p>
                    <p>Email : {{app[2]}}</p>
                    <p>Applied Date : {{app[3]}}</p>
                    <a href="/uploads/{{app[4]}}" target="_blank">
                        <button type="button">View Resume</button>
                    </a>
                    <br>
                    <br>
                    <form action="/status" method="POST">
                        <input type="hidden" value="accepted" name="accepted">
                        <input type="hidden" value="{{app[2]}}" name="email">
                        <input type="hidden" value="{{app[5]}}" name="application_id">
                        <button type="submit">Accept</button>
                    </form>
                    <br>
                    <form action="/status" method="POST">
                        <input type="hidden" value="{{app[2]}}" name="email">
                        <input type="hidden" value="rejected" name="rejected">
                        <input type="hidden" value="{{app[5]}}" name="application_id">
                        <button type="submit">Reject</button>
                    </form>
                </div>
                <hr>
            {% endfor %}
        {% endif %}
        <a href="/dashboard">
            <button type="submit">Back</button>
        </a>
    </main>
</body>
</html>